{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 50px; padding: 20px; text-align: center;">
    <h2 style="margin-bottom: 20px;">Укажите количество этажей в доме</h2>

    <form action="/floors" method="post">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="col-md-6" style="margin: 0 auto;"> <!-- Центрирование формы по горизонтали -->
            <p>
                {{ form.floors(class="form-control") }}
            </p>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <div style="margin-right: 10px;">
                {{ form.back_fl(type="submit", class="btn btn-primary") }}
            </div>
            <div>
                {{ form.submit_fl(type="submit", class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
