<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор Недвижимости</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>Добро пожаловать в калькулятор недвижимости!</h1>
    <p>Этот калькулятор поможет вам оценить стоимость вашей недвижимости или потенциальной инвестиции.</p>
</header>
<main>
    <section class="features">
        <h2>Особенности калькулятора недвижимости:</h2>
        <ul>
            <li>Быстрая и удобная оценка стоимости недвижимости</li>
            <li>Возможность учесть различные параметры, такие как размер, местоположение и состояние объекта</li>
            <li>Подробный анализ рыночных трендов и прогнозы</li>
            <li>Полезные советы и рекомендации по инвестированию в недвижимость</li>
        </ul>
    </section>
</main>
<footer>
    <a class="start-button" href="http://127.0.0.1:5000/start">Начать</a>

</footer>
</body>
</html>
